h1 {
            text-align: center;
            color: #2c3e50;
            border-bottom: 2px solid #7b858b;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        
        h2 {
            color: #a0a7ab;
            margin-top: 25px;
            padding-left: 10px;
            border-left: 5px solid #909396;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
        
        li {
            padding: 8px 0;
            border-bottom: 1px dashed #eee;
        }

        li:last-child {
            border-bottom: none;
        }